/* Texto */

@font-face {
  font-family: "dk_mango_smoothie";
  src: url("../font/dk_mango_smoothie/dk_mango_smoothie.otf") format('truetype');
}

:root {
  font-size: 16px;
}

/* Body */

body {
  background-color: #CC6633;
  font-size: 12px;
}

/* Whatsapp contact */

.wsp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 110px;
  overflow: auto;
}

.wspp {
  width: 100px;
  height: auto;
  float: right;
  padding: 10px;
}

.wspp:hover {
  width: 70%;
  border: 3px solid #FF9933;
  border-radius: 50%;
  background-color: #FF9933;
}

/* Header */

header {
  background: #FFCC66;
  border: 1px solid #993300;
  margin: 1vw 1vh;
}

.container-header {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
}

.header1 {
  width: 18vw;
}

.title-header {
  width: 100%;
  float: left;
  padding: 2%;
}

.header2 {
  width: 5vw;
  float: left;
}

.logo-header {
  width: 100%;
  padding: 2%;
}

.header3 {
  width: 4vw;
  float: left;
}

.header3:hover {
  border: 5px solid #FF9933;
  background-color: #FF9933;
  border-radius: 50%;
}

.arrow-header {
  width: 80%;
  padding: 2%;
}

/* Navigator bar */

nav {
  background: #FFCC66;
  border: 1px solid #993300;
  margin: 1vw 1vh;
}

.bar {
  width: 97vw;
  padding: 1% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.button {
  width: 15vw;
}

.button:hover {
  width: 15vw;
  border: 1px solid #FF9933;
  background-color: #FF9933;
}

/* Section */

section {
  background-color: #FFCC66;
  border: 1px solid #993300;
  width: 48.2vw;
  float: left;
  margin-top: 0vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 1vw;
  padding: 15px;
  box-sizing: border-box;
  height: 1200px;
  overflow: scroll;
}

/* Aside */

aside {
  background-color: #FFCC66;
  border: 1px solid #993300;
  width: 48.2vw;
  float: left;
  margin-top: 0vw;
  margin-left: 0.4vw;
  margin-right: 0.5vw;
  margin-bottom: 1vw;
  padding: 15px;
  box-sizing: border-box;
  height: 1200px;
  overflow: scroll;
}

/* Contact form */

.form {
  background: #FFCC66;
  border: 1px solid #993300;
  margin: 1vw 1vh;
}

.frm {
  width: 70%;
  padding: 3vw 6vh;
  font-size: 1.2rem;
}

/* Footer */

footer {
  background-color: #FFCC66;
  border: 1px solid #993300;
  margin: 1vw 1vh;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 1vw;
  clear: both;
}

.title-footer {
  float: left;
  padding-left: 5vw;
}

.social {
  float: right;
  padding: 1vw 1vh;
  margin-top: 1.2vw;
}

.logo-social {
  width: 10%;
  height: auto;
}

.logo-social:hover {
  width: 10%;
  border: 10px solid #FF9933;
  background-color: #FF9933;
  border-radius: 50%;
  }

/* ----- */

h1 {
  font-style: oblique;
  color: #CC6633;
  font-family: "dk_mango_smoothie";
  font-size: 6em;
}

h2 {
  font-family: 'Pangolin', cursive;
  color: #CC6633;
  font-size: 2.5rem;
}

.h2h2 {
  display: flex;
  width: 100vw;
  padding-left: 2vw;
  margin: 2vw;
}

.h2h2:hover {
  width: 90%;
  border: 3px solid #FFFFCC;
  background-color: #FFFFCC;
  border-radius: 2%;
}

h3 {
  font-style: italic;
  color: #CC6600;
  text-decoration: underline;
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  text-align: left;
  font-size: 1.5rem;
}

.p-size {
  font-size: 1em;
}

ul {
  font-size: 1.2rem;
}

ol {
  font-size: 1.2rem;
}

img {
  max-width: 60vw;
}

.imgimg {
  width: 45.6vw;
  display: flex;
  justify-content: center;
  margin: 1vw 1vh;
}

.imgimg:hover {
  border: 3px solid #FFFFCC;
  background-color: #FFFFCC;
}
